.git
.gitignore
.env
backend/.env
frontend/.env.local
venv
backend/venv
frontend/node_modules
frontend/.next
frontend/.turbo
__pycache__
*.pyc
*.pyo
*.pyd
*.log
backend-start.err
backend-start.log
frontend-start.err
frontend-start.log
.runlogs
